.hola{
    font-style: italic;
    font-size: xx-large;
    color: lavender;
    background-color: purple;
}

.mundo{
    color: purple;
    background-color: lavender;
    font-size: x-large;
}

.o1{
    color: purple;
    font-size: x-large;
    background-color: lavender;
}

.o2{
    color: purple;
    font-size: x-large;
    background-color: lavender;
}
.o3{
    color: purple;
    font-size: x-large;
    background-color: lavender;
}
.o4{
    color: purple;
    font-size: x-large;
    background-color: lavender;
}
.o5{
    color: purple;
    font-size: x-large;
    background-color: lavender;
}
.intro{
    font-size: x-large;
    font-style: italic;
}